// Import utilities.
@use "sass:meta";
@use "utils/typography";
@use "utils/colors";
@use "utils/variables";

/* Global styles */
@use "global/colors" as colors2;

/* V13REMOVAL - These should be scoped so that they don't affect the general FoundryVTT stuff
@use "global/window"; 
@use "global/grid";
@use "global/flex";
*/

/* Styles for dice which are direct overrides of FoundryVTT styling */
@include meta.load-css("components/foundry-overrides/dice");

/* Styles limited to hero sheets */
.hero {
    @include meta.load-css("global/grid"); /* V13 - Moved from global as these should be scoped */
    @include meta.load-css("global/flex"); /* V13 - Moved from global as these should be scoped */
    @include meta.load-css("components/forms");
    @include meta.load-css("components/resource");
    @include meta.load-css("components/tabs");
    @include meta.load-css("components/items");
    @include meta.load-css("components/rollable-skill");

    &.auto-overflow {
        overflow: auto;
    }
}

@include meta.load-css("components/chat");

/* Styles for time tracking */
@include meta.load-css("components/time");

/* Styles for uploading */
@include meta.load-css("components/upload");

/* Styles for power cards */
@include meta.load-css("components/power-cards");

/* Stuff that doesn't have a distinct home - should go away */
@include meta.load-css("components/junk");

/* Combat Tracker */
@include meta.load-css("components/combat-tracker");

/* Effects Panel */
@include meta.load-css("components/effects-panel");

/* HeroRoll Panel */
@include meta.load-css("components/hero-generic-roller");

/* Styles for TextEditor */
@include meta.load-css("components/text-editor");

/* Styles for Notes */
@include meta.load-css("components/notes");

/* Styles for Notes */
@include meta.load-css("components/active-effects");
