<section class="{{cssClass}} directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">
    {{> (getModulePath 'combat/header.hbs') }}
    {{> (getModulePath 'combat/tracker-single.hbs') }}
    {{> (getModulePath 'combat/footer.hbs') }}
</section>