$c-white: #fff;
$c-black: #000;
$c-success: blue;
$c-failure: red;
$c-warning: orangered;
$c-hit: $c-success;
$c-miss: $c-failure;

.herosystem6e {
    --herosystem-blue: #286293;
    --herosystem-table-header-bg-color: #cac7bf; // var(--table-header-bg-color); opacity+sticky is a problem
    --herosystem-shadow-45: rgb(0 0 0 / 45%);
    --herosystem-border: var(--herosystem-blue);
    --herosystem-background-card: #f8f4f1;
    --herosystem-text-light-6: #666;
    --herosystem-filter-control-color: #999;
    --herosystem-header-background: #cac7bf; // var(--table-header-bg-color); opacity+sticky is a problem
    --herosystem-item-row-border: rgb(var(--herosystem-blue) / 20%);
    --herosystem-header-text: var(--table-header-text-color);
}

.herosystem6e.theme-dark {
    --herosystem-table-header-bg-color: var(--color-cool-4);
    --background: black;
}

// ref: https://venngage.com/tools/accessible-color-palette-generator
.herosystem6e.theme-hc {
    --herosystem-table-header-bg-color: black;
    --table-header-text-color: white;
    --background: #f6f5f7;

    // button {
    //     --button-background-color: inherit;
    // }

    // input {
    //     --input-background-color: inherit;
    // }

    img.item-image {
        filter: brightness(0.1);
    }
}
