{{ log 'HEROSYS hero-roll-panel' this }}
<section class="hero-roll-panel">
    <div class="flexrow">
        <button title="Generic TO-HIT roll." data-action="tohit" >
            Roll ToHit
        </button>
        <button title="Generic DAMAGE roll." data-action="damage" >
            Roll Damage
        </button>
    </div>
</section>