<form>
    <div class="form-group">
        <label>DICE</label>
        <input type="text" name="dice" value="{{dice}}" />
    </div>

    <div class="form-group">
        <label>DICE PLUS</label>
        <div class="form-fields">
            {{radioBoxes dicePlus.groupName dicePlus.choices checked=dicePlus.chosen localize=true}}
        </div>
    </div>

    <div class="form-group">
        <label>DAMAGE TYPE</label>
        <div class="form-fields" style="flex-wrap:wrap;border-top:1px dashed rgba(0,0,0,0.2)">
            {{radioBoxes damageType.groupName damageType.choices checked=damageType.chosen localize=true}}
        </div>
    </div>

    {{#if hitLoc}}
        <div class="form-group">
          <label>Placed Shot</label>
          <select name="aim" style="max-width:234px">
            {{selectOptions hitLoc selected=aim valueAttr="key" labelAttr="label" disabled="disabled"}}
          </select>
        </div>
    {{/if}}
</form>