{{!-- {{ log 'HEROSYS hero-generic-roller' this }} --}}
<div class="flexrow hero-generic-roller {{css}}">
    <button title="Generic TO-HIT roll." data-action="tohit" >
        Roll ToHit
    </button>
    <button title="Generic DAMAGE roll." data-action="damage" >
        Roll Damage
    </button>
</div>
