@use "../utils/typography";

.window-app {
    font-family: typography.$font-primary;
}

.rollable {
    &:hover,
    &:focus {
        color: #000;
        text-shadow: 0 0 10px red;
        cursor: pointer;
    }
}
