<table>
    <tr class="top-powers {{#if (not this.isFromBaseActor)}}delta-item{{/if}}">
        <th class="left">Top Active Point Powers</th>
        <th>AP</th>
    </tr>
    {{#each activePointSummary as |item id|}}
        <tr class="">
            <td class="left">{{item.name}}</td>
            <td>{{item.activePoints}}</td>
        </tr>
    {{/each}}

</table>