{{! Active Points }}
<div class="flexrow summary-break">
    <div class="active-points">Active Points: {{item.activePointCostForDisplay}}</div>
    <div class="end">END: {{item.end}}</div>
    <div class="real-cost">Real Cost: {{item.realPointCostForDisplay}}</div>
</div>