{{ log 'HEROSYS actor-change-type-dialog' this }}
<div class="hero chat-card default-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}">
    <div class="form-group">
        <label>Select Actor Type</label>
        <div class="form-fields">
            {{radioBoxes "actorType" choices checked=chosen localize=true}}
        </div>
    </div>
    <p></p>
</div>