/* Minimum size of actor sheet */
.actor-sheet {
    min-height: 310px;
    min-width: 500px;
}

/* minimal padding around window content */
.actor-sheet .window-content {
    padding: 1px;
}

/* Setup Grid */
.actor-sheet form {
    display: grid;
    grid:
        "sidebar header" 75px
        "sidebar nav" minmax(min-content, max-content)
        "sidebar content" 1fr/100px 1fr;
    /* height: 100%; */
    /* background-color: red; */
    overflow:hidden; /* get rid of scroll bars */
}

/* Sidebar */
.actor-sheet aside {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    /* background-color: lightgreen; */
    border-right: thin solid darkgrey;
}

.actor-sheet .sidebar {
    overflow: hidden;
    padding: 0 2px 2px 8px;
    /* background-color: lavender; */
}

.actor-sheet .char-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: lightgoldenrodyellow; */
}

.actor-sheet nav.sheet-navigation {
    align-items: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: inline-flex;
    justify-content: center;
    position: relative;
    transition: all 0.1s ease-out;
    grid-area: nav;
    /* background-color: lightcyan; */
}

.actor-sheet .sheet-body,
.sheet.item .sheet-body {
    grid-area: content;
    position: relative;
    overflow: hidden auto;
    /* background-color: steelblue; */
}

.actor-sheet .sheet-content,
.sheet.item .sheet-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    /* background-color: red; */
}

.actor-sheet ul.attributes {
    list-style: none;
    padding: 0;
}

.actor-sheet .attributes .attribute {
    position: relative;
    margin: 0;
    border: none;
    border-top: 2px groove #eeede0;
    border-radius: 0;
}

.actor-sheet .attributes .attribute-name {
    position: relative;
}

.actor-sheet h4.box-title {
    height: 18px;
    line-height: 16px;
    margin: 4px 8px 2px;
    border-bottom: 1px solid #c9c7b8;

    white-space: nowrap;
}

.actor-sheet ul.attributes li.attribute {
    text-align: center;
}

.actor-sheet .attributes input[type="text"] {
    width: 35px;
    min-width: 20px;
    padding: 1px 3px;
    margin: 3px 0px;
    /* border-color: transparent; */
}

.actor-sheet input[type="text"]:focus {
    border-color: black;
}

.actor-sheet input[type="text"]:hover {
    border-color: black;
}

.actor-sheet span.sep {
    flex: none;
    margin: 0 1px;
    display: inline;
    position: relative;
    color: #7a7971;
}

.actor-sheet .profile-img {
    object-fit: contain;
}

.actor-sheet nav a {
    margin: 0.25em;
    padding: 0.25em;
    text-align: center;
    border: thin solid black;
    border-radius: 0.5em;
}

.actor-sheet nav a.active {
    background: black;
    color: white;
}

.actor-sheet .sheet-header {
    margin-left: 0.5em;
}

.actor-sheet .sheet-body {
    margin-left: 0.5em;
}

.actor-sheet table tr:first-child,
.actor-sheet table tr.activeEffects {
    box-shadow: inset 0 -1px 0 darkgray;
    background-color: #cfcec3;
}

.actor-sheet table tr.sticky {
    position: sticky;
    top: 0;
    z-index: 1; /* pesky checkboxes */
    background-color: #cfcec3;
}

.actor-sheet table tr.sticky2 {
    position: sticky;
    top: 33px;
    z-index: 1; /* pesky checkboxes */
    background-color: #cfcec3;
    box-shadow: inset 0 -1px 0 darkgray;
}

.actor-sheet table {
    border-top: 0;
    margin-top: 0;
}

th.left,
td.left {
    text-align: left;
}

input.left {
    text-align: left;
}

.actor-sheet table tr td.right,
.actor-sheet table tr th.right {
    text-align: right;
    padding-right: 2px;
}

.actor-sheet table tr td.right,
.actor-sheet table tr th.right {
    text-align: right;
}

.actor-sheet .item-image {
    margin-right: 5px;
    min-width: 24px;
}

.actor-sheet .item-image img {
    display: block;
}

.actor-sheet table tr {
    height: auto;
    line-height: 24px;
    padding: 3px 0;
    vertical-align: top;
}

.actor-sheet table tr td {
    padding: 3px 0;
    max-width: 300px; /* power description can be a bit too big; alternatives pct or flexbox */
}

.actor-sheet table tr td button {
    height: 24px;
    line-height: normal;
}

.actor-sheet table tr.characteristic td button.rollable {
    width: 40px;
}

.actor-sheet table tr td input {
    vertical-align: middle;
}

.actor-sheet table tr.characteristic td input {
    width: 40px;
}

.actor-sheet input[type="file"] {
    display: none;
}

/* TokenHud */
.hero-attribute {
    display: flex;
    flex-direction: column;
    gap: 6px 0;
    justify-content: center;
    width: 100px;
}

.hero-attribute.compact {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 6px;
    width: 40px;
}

.col.middle .hero-attribute {
    width: unset;
}

.hero-attribute.compact input[type="text"] {
    width: 40%;
    height: 30px;
    font-size: 20px;
    margin: 2px;
    min-width: 40px;
}

.hero-attribute input:disabled {
    color: #aaa;
}

.actor-sheet input.underMax {
    background-color: rgba(255, 200, 200, 0.5);
}

.actor-sheet input.overMax,
.actor-sheet tr.overMax {
    background-color: rgba(200, 255, 200, 0.5);
}

.actor-sheet .sidebar-actions {
    padding: 0;
    border: none;
    display: block; // For savuori's wider sidebar
}

.actor-sheet .sidebar-actions button {
    line-height: normal;
    margin: 2px 0px;
}

.actor-sheet div.points {
    border: 1px solid rgb(0 0 0 / 30%);
    border-radius: 8px;
    height: 24px;
    padding: 2px 4px;
    font-size: 14px;
    /* margin-top: 2px; */
    margin: 5px 5px;
    text-align: center;
}

.actor-sheet .warn {
    background-color: rgba(255, 255, 200, 0.5);
}

.actor-sheet table tr td.item-framework-child-name {
    padding-left: 27px;
    text-indent: -17px;
}

.actor-sheet table tr td.item-framework-child-name2 {
    padding-left: 43px;
    text-indent: -17px;
}

.actor-sheet header span {
    margin-left: 2px;
    margin-right: 2px;
}

ul.left li {
    text-align: left;
}

.form-group div {
    display: flex;
    flex-direction: row;
}

.form-group div span {
    margin-left: 5px;
    margin-right: 5px;
}

.editor-content {
    min-height: 36px;
    border-radius: 5px;
    border: 1px dashed rgba(0, 0, 0, 0.3);
}

.actor-sheet .sidebar section ul li > span {
    position: relative;
    left: -5px;
}

.actor-sheet .sidebar section .defenses {
    border-top: 2px groove #eeede0;
    padding-top: 5px;
}

.conditional-defense-card div.description {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    margin: 15px 0;
    padding: 5px;
}

td.characteristic-locked > input {
  cursor: pointer;
  pointer-events:none;
}

div .aoe-button {
    margin-bottom: 3px;
}

div.apply-damage-amount {
    border-top: 1px solid var(--color-underline-header);
    border-bottom: 1px solid var(--color-underline-header);
    text-align: center;
    font-size: var(--font-size-20);
    line-height: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.xmlid {
    margin-left: 8px;
}

form.item-sheet h1.charname input {
    margin-top: 0px;
}

.herosystem6e.sheet.item .form-group > div {
    margin-left: -5px;
}

.herosystem6e.sheet.item .right {
    text-align: right;
}

.herosystem6e.sheet.item .center {
    text-align: center;
}

.herosystem6e.sheet.item li.summaryBreak {
    margin-top: 5px;
    padding-top: 8px;
    border-top: 1px solid var(--color-border-light-tertiary);
    border-bottom: 1px solid var(--color-border-light-tertiary);
}

.herosystem6e.sheet.item div.description,
form div.attack-card div.description {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    margin: 15px 0;
    padding: 5px;
    max-width: 100%;
}

.herosystem6e.sheet.item tr.modifierAdder td:first-child {
    padding-left: 10px;
}

#item-attack-form-application {
    max-width: 50%;
}

.modifierAdder.indent {
    padding-left: 5px;
  }

  #item-attack-form-application .noflexwrap input[type="text"]
{
  width: auto; 
  margin-right: 5px;
  margin-left: -4px; //* needed to align to previous rows, not sure why **//
}