.herosystem6e.actor-sheet-v2 {
    min-height: 310px;
    min-width: 500px;
}

.herosystem6e.actor-sheet-v2.minimizing {
    min-height: 0;
}

/************************************************************************
* Setup Grid with header, navbar and left sidebar
************************************************************************/
.herosystem6e.actor-sheet-v2 section.window-content {
    display: grid;
    grid-template:
        "sidebar header" 75px
        "sidebar nav" max-content
        "sidebar content" 1fr / 100px 1fr;
    overflow: hidden;
    padding: 5px;
    gap: 2px;
}

/************************************************************************
* grid-area: sidebar
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    border-right: thin solid var(--color-tabs-border);

    .attributes {
        text-align: center;
        margin: 1rem 0;

        // box-sizing: border-box;
        input[type="text"] {
            width: 35px;
            min-width: 25px;
            padding: 1px 3px;
            margin: 3px 0;
            text-align: center;
            line-height: normal;
            height: var(--form-field-height);
        }

        fieldset.attribute {
            margin-left: -1px;
            padding: 0;
        }

        ul > li {
            position: relative;
            left: -5px;
            list-style-type: circle;
            text-align: left;
            line-height: normal;
            margin: 0;
        }
    }

    button {
        margin: 2px 0;
        height: auto;
    }
}

/************************************************************************
* grid-area: header
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content header {
    grid-area: header;

    input[type="text"] {
        font-family: Signika, sans-serif;
        font-size: 30px;
        font-weight: 500;
        font-variant-caps: small-caps;
    }

    input[type="file"] {
        display: none;
    }

    div.points,
    div.edition {
        border: 1px solid var(--color-tabs-border);
        border-radius: 8px;
        height: 24px;
        padding: 2px 4px;
        font-size: 14px;

        /* margin-top: 2px; */
        margin: 5px;
        text-align: center;
    }
}

/************************************************************************
* grid-area: nav
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content nav {
    grid-area: nav;
    transition: all 0.1s ease-out;
    flex-flow: row wrap;
    overflow: hidden;
    line-height: inherit;

    .sheet-tabs.tabs {
        gap: 0;
    }

    a {
        margin: 0.25em;
        padding: 0.25em;
        text-align: center;
        border: thin solid var(--color-tabs-border);
        border-radius: 0.5em;
        line-height: inherit;
    }

    a.active {
        background: var(--content-link-text-color);
        color: var(--content-link-background);
    }
}

/************************************************************************
* Override nav.tabs
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content nav.sheet-tabs.tabs {
    gap: 0;
}

/************************************************************************
* grid-area: content 
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content section.tab {
    grid-area: content;
    position: relative;
    overflow: hidden auto;

    .item-row {
        .item-name {
            .name {
                .keywords {
                    font-size: var(--font-size-12);
                }
            }
        }
    }
}

/************************************************************************
* Generic Item List Container
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content section.tab {
    .item-list-container {
        display: grid;
        box-sizing: content-box;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
        gap: 0;
        align-items: stretch;
        text-align: center;

        .item-header {
            display: contents;

            > * {
                color: var(--table-header-text-color);
                background-color: var(--herosystem-table-header-bg-color);
                padding: 6px 0;
                font-weight: bold;
                font-size: var(--font-size-14);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 1;
            }

            > :first-child {
                border-radius: 5px 0 0;
                justify-content: flex-start;
                padding-left: 8px;
                flex-shrink: 0;
            }

            > :last-child {
                border-radius: 0 5px 0 0;
            }
        }

        .item-list {
            display: contents;

            .item {
                display: contents;

                &:nth-child(odd) > div > * {
                    background-color: var(--table-row-color-odd);
                }

                &:nth-child(even) > div > * {
                    background-color: var(--table-row-color-even);
                }

                .item-row {
                    display: contents;

                    > * {
                        padding: 4px;
                        min-height: 36px;
                        display: flex;

                        // align-items: center;

                        // justify-content: center;
                        flex-shrink: 1;
                    }

                    > :first-child {
                        // item-name
                        justify-content: flex-start;
                        text-align: left;
                        gap: 8px;
                        flex-shrink: 0;

                        img {
                            width: 30px;
                            height: 30px;
                            border: none;
                            flex-shrink: 0;
                        }
                    }
                }

                .item-description-expandable {
                    grid-column: 1 / -1;
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: grid-template-rows 0.2s ease-out;

                    .item-description-content {
                        overflow: hidden;
                    }
                }

                & {
                    .item-row .item-controls .fa-angle-right {
                        transform: rotate(0deg);
                        transition: transform 0.2s ease-in-out;
                    }
                }

                &.expanded {
                    .item-description-expandable {
                        grid-template-rows: 1fr;
                        border-top: 1px dashed var(--color-border-light);

                        .item-description-content {
                            // padding: 8px 12px;
                            // padding-left: 20px; // align with item name
                            text-align: left;
                        }
                    }

                    .item-row .item-controls .fa-angle-right {
                        transform: rotate(90deg);
                        transition: transform 0.2s ease-in-out;
                    }
                }
            }
        }

        .item-controls {
            gap: 4px;
            font-size: var(--font-size-16);
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        div.item-row > div.item-column.item-description {
            display: inline;
            text-align: left;
        }
    }
}

/************************************************************************
* Attacks 
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content section.tab.attacks {
    .item-list-container {
        display: grid;
        box-sizing: content-box;
        grid-template-columns:
            minmax(auto, 1fr) /* name - flexible */
            minmax(2rem, 28px) /* ocv */
            minmax(2rem, 28px) /* dcv */
            minmax(2rem, 84px) /* offdef */
            minmax(2rem, 68px) /* dmg */
            minmax(min-content, 120px) /* res */
            minmax(min-content, 32px) /* end */
            minmax(min-content, 73px) /* aoe - example for second flexible column */
            minmax(2rem, 120px); /* controls */
    }
}

/************************************************************************
* Powers 
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content section.tab.powers {
    .item-list-container {
        display: grid;
        box-sizing: content-box;
        grid-template-columns:
            minmax(2rem, 45px) /* name - flexible */
            minmax(2rem, 28px) /* costs */
            minmax(auto, 1fr) /* description */
            minmax(2rem, 84px) /* end */
            minmax(2rem, 84px) /* active */
            minmax(2rem, 4rem); /* controls */
    }
}
