.herosystem6e.actor-sheet-v2 {
    min-height: 310px;
    min-width: 500px;
}

.herosystem6e.actor-sheet-v2.minimizing {
    min-height: 0;
}

/************************************************************************
* Setup Grid with header, navbar and left sidebar
************************************************************************/
.herosystem6e.actor-sheet-v2 section.window-content {
    display: grid;
    grid-template:
        "sidebar header" 75px
        "sidebar nav" max-content
        "sidebar content" 1fr / 100px 1fr;
    overflow: hidden;
    padding: 5px;
    gap: 2px;
}

/************************************************************************
* grid-area: sidebar
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    border-right: thin solid var(--color-tabs-border);

    .attributes {
        text-align: center;
        margin: 1rem 0;

        // box-sizing: border-box;
        input[type="text"] {
            width: 35px;
            min-width: 25px;
            padding: 1px 3px;
            margin: 3px 0;
            text-align: center;
            line-height: normal;
            height: var(--form-field-height);
        }

        fieldset.attribute {
            margin-left: -1px;
            padding: 0;
        }

        ul > li {
            position: relative;
            left: -5px;
            list-style-type: circle;
            text-align: left;
            line-height: normal;
            margin: 0;
        }
    }

    button {
        margin: 2px 0;
        height: auto;
    }
}

/************************************************************************
* grid-area: header
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content header {
    grid-area: header;

    input[type="text"] {
        font-family: Signika, sans-serif;
        font-size: 30px;
        font-weight: 500;
        font-variant-caps: small-caps;
    }

    input[type="file"] {
        display: none;
    }

    div.points,
    div.edition {
        border: 1px solid var(--color-tabs-border);
        border-radius: 8px;
        height: 24px;
        padding: 2px 4px;
        font-size: 14px;

        /* margin-top: 2px; */
        margin: 5px;
        text-align: center;
    }
}

/************************************************************************
* grid-area: nav
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content nav {
    grid-area: nav;
    transition: all 0.1s ease-out;
    flex-flow: row wrap;
    overflow: hidden;
    line-height: inherit;

    .sheet-tabs.tabs {
        gap: 0;
    }

    a {
        margin: 0.25em;
        padding: 0.25em;
        text-align: center;
        border: thin solid var(--color-tabs-border);
        border-radius: 0.5em;
        line-height: inherit;
    }

    a.active {
        background: var(--content-link-text-color);
        color: var(--content-link-background);
    }
}

/************************************************************************
* Override nav.tabs
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content nav.sheet-tabs.tabs {
    gap: 0;
}

/************************************************************************
* grid-area: content 
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content section.tab {
    grid-area: content;
    position: relative;
    overflow: hidden auto;
    gap: 0.5rem;

    .item-row {
        .item-name {
            display: flex;

            .name {
                .keywords {
                    font-size: var(--font-size-12);
                }
            }
        }
    }

    // List Controls (Search bar)
    .list-controls {
        .search {
            display: flex;
            align-items: center;
            border-radius: 4px;
            box-shadow: 0 0 6px var(--herosystem-shadow-45);
            border: 1px solid var(--herosystem-border);
            padding-right: 0.25rem;
            position: relative;
            background: var(--herosystem-background-card);

            > input {
                flex: 1;
                background: none;
                border: none;
                padding: 0.5rem 0.5rem 0.5rem 2.25rem;
                line-height: 1;
                outline: none;

                --input-box-shadow: none;
                --input-placeholder-color: var(--herosystem-filter-control-color);
            }
        }

        .search::before {
            content: "\f002";
            font-family: var(--font-awesome);
            font-weight: bold;
            color: var(--color-text-tertiary);
            position: absolute;
            left: 0.75rem;
        }

        .controls {
            display: flex;
            padding: 0;
            align-self: stretch;
            align-items: stretch;

            button {
                height: 100%;
                color: var(--herosystem-filter-control-color);
                padding: 0 0.375rem;
            }

            button.unbutton {
                background: none;
                margin: 0;
                border-radius: 0;
                line-height: normal;
                box-shadow: none;
                outline: none;
                border: none;
            }
        }

        .unlist {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    /************************************************************************
    * Generic Item List Container
    ************************************************************************/
    .item-list-container {
        display: grid;
        box-sizing: content-box;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
        gap: 0;
        align-items: stretch;
        text-align: center;

        .item-header {
            display: contents;

            > * {
                color: var(--table-header-text-color);
                background-color: var(--herosystem-table-header-bg-color);
                padding: 6px 0;
                font-weight: bold;
                font-size: var(--font-size-14);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 1;
                padding-left: 5px;
                position: sticky;
                top: 0;
                z-index: 1; /* pesky checkboxes */
            }

            > :first-child {
                border-radius: 5px 0 0;
                padding-left: 8px;
                flex-shrink: 0;
            }

            > :last-child {
                border-radius: 0 5px 0 0;
            }

            .item-description {
                justify-content: flex-start;
            }
        }

        .item-list {
            display: contents;

            .item {
                display: contents;

                .item-row .item-controls .fa-angle-right {
                    transform: rotate(0deg);
                    transition: transform 0.2s ease-in-out;
                }

                &:nth-child(odd) > div > * {
                    background-color: var(--table-row-color-odd);
                }

                &:nth-child(even) > div > * {
                    background-color: var(--table-row-color-even);
                }

                .item-row {
                    display: contents;

                    > * {
                        padding: 4px;
                        min-height: 36px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 1;
                    }

                    > :first-child {
                        // item-name
                        text-align: left;
                        gap: 8px;
                        flex-shrink: 0;

                        img {
                            width: 30px;
                            height: 30px;
                            flex-shrink: 0;
                            border: 1px solid var(--herosystem-table-header-bg-color);
                            border-radius: 4px;
                        }
                    }

                    .item-column.item-controls {
                        gap: 4px;
                        font-size: var(--font-size-16);
                        text-align: right;
                        white-space: nowrap;
                        margin-right: 2px;
                        padding-right: 10px; // For FireFox
                        justify-content: right;
                    }
                }

                .item-description-expandable {
                    grid-column: 1 / -1;
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: grid-template-rows 0.2s ease-out;
                    text-align: left;

                    .item-description-content {
                        overflow: hidden;
                        padding-left: 42px;
                    }
                }

                &.expanded {
                    .item-description-expandable {
                        grid-template-rows: 1fr;
                        border-top: 1px dashed var(--color-border-light);

                        .item-description-content {
                            // padding: 8px 12px;
                            // padding-left: 20px; // align with item name
                        }
                    }

                    .item-row .item-controls .fa-angle-right {
                        transform: rotate(90deg);
                        transition: transform 0.2s ease-in-out;
                    }
                }
            }

            .item .item-image i.fa-square-caret-down {
                transform: rotate(0deg);
                transition: transform 0.2s ease-in-out;
            }

            .item.collapsed .item-image i.fa-square-caret-down {
                transform: rotate(-90deg);
                transition: transform 0.2s ease-in-out;
            }
        }

        div.item-row > div.item-column.item-description {
            display: flex;
            text-align: left;

            // align-items: normal;
            justify-content: left;

            .item-image {
                width: 30px;
                height: 30px;
                flex-shrink: 0;
                margin-right: 2px;
                border: 1px solid var(--herosystem-table-header-bg-color);
                border-radius: 4px;
            }

            .item-description-full {
                padding-left: 5px;
            }
        }

        div.item-column.item-description.item-depth-1 {
            padding-left: 30px;
        }

        div.item-column.item-description.item-depth-2 {
            padding-left: 60px;
        }
    }
}

/************************************************************************
* Attacks 
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content section.tab.attacks {
    .item-list-container {
        display: grid;
        box-sizing: content-box;
        grid-template-columns:
            minmax(auto, 3fr) /* name - flexible */
            minmax(2rem, 28px) /* ocv */
            minmax(2rem, 28px) /* dcv */
            minmax(2rem, 84px) /* offdef */
            minmax(2rem, 68px) /* dmg */
            minmax(min-content, 120px) /* res */
            minmax(min-content, 32px) /* end */
            minmax(min-content, 73px) /* aoe - example for second flexible column */
            min-content; /* controls */
    }
}

/************************************************************************
* Powers 
************************************************************************/
.herosystem6e.actor-sheet-v2 .window-content section.tab.powers {
    .item-list-container {
        display: grid;
        box-sizing: content-box;
        grid-template-columns:
            min-content /* costs */
            minmax(auto, 1fr) /* description */
            min-content /* end */
            min-content; /* controls */
    }
}
