.herosystem-active-effect-config {
    div.description {
        background-color: rgb(0 0 0 / 10%);
        border: 1px dashed var(--input-border-color);
        padding: 5px;
        max-width: 100%;
        user-select: text;
    }
}
