&.chat-card {
  font-style: normal;
  font-size: 12px;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;
  
    img {
      flex: 0 0 36px;
      margin-right: 5px;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
      font-size: 20px;
      font-weight: 700;
      color: #4b4a44;
      display: inline-block;
    }

    &.attack {
      border-bottom: none;
    }
  }

  .card-section {
    padding: 3px 0;
    border-bottom: 2px groove #FFF;

    .description {
        flex: 1;
        margin: 0;
        line-height: 36px;
        font-size: 20px;
        font-weight: 700;
        color: #4b4a44;
        text-align: center;
    }

    .description-medium {
        flex: 1;
        margin: 0;
        line-height: 30px;
        font-size: 15px;
        font-weight: 700;
        color: #4b4a44;
        text-align: center;
    }

    .description-small {
        flex: 1;
        margin: 0;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
        color: #4b4a44;
        text-align: center;
    }

    .description-tiny {
        flex: 1;
        margin: 0;
        line-height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: #4b4a44;
        text-align: center;
    }
  }  

  .card-content {
    margin: 5px 0;

    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }
  
    >* {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }
  
  .card-buttons {
    margin: 5px 0;

    span {
      display: block;
      line-height: 28px;
      text-align: center;
      border: 1px solid #CCC;
    }
  
    button {
      font-size: 12px;
      height: 24px;
      line-height: 20px;
      margin: 2px 0;
    }
  }
  
  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #FFF;
  
    span {
      border-right: 2px groove #FFF;
      padding: 0 3px 0 0;
      font-size: 10px;
    }
  
    span:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
  .note{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    .notes{
      flex-grow: 1;
    }
    .error {
      color: red;
    }
  }

  .ellipsis-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.attack-card {
    table {
      min-width: 100%;
    }

    th,
    td {
      width : 15%;
    }
    .target-name {
    }
    td.target-name {
      text-align: left;
    }
    th:last-child {
      border: 0;
    }

  }

  .dice-formula.card-section, .card-header.attack {
    img.more {
      z-index: 2;
      position: absolute;
      right: 2px;
      top: 6px;
    }
  }

  .target-container {
    display: grid;
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid var(--color-border-light-tertiary);
    border-bottom: 1px solid var(--color-border-light-tertiary);
    margin: 0.5em 0;
  }

  .attack-options {
    grid-template-columns: 8fr 3fr 3fr 3fr 3fr;
  }

  .multi-attack-options {
    grid-template-columns: 8fr 8fr 1fr;
  }

  .target-info-row .target-name {
    padding-left: 2px;
    text-align: left;
    width : 100%;
  }

  .target-info-header {
    display: contents;
    color: var(--color-text-light-highlight);
    text-shadow: 1px 2px var(--color-shadow-dark);
    margin: 2px;
  }
  .target-info-header div{
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--color-border-dark);
  }

  .target-container  {
    text-align: center;
  }

  .target-container .target-info-header div{
    font-weight: bold;
    background-color: #696762;
  }
  .target-container div div{
    margin-bottom: 1px;
  }

  .target-container .target-info-row div {
    line-height: 2em;
  }

  .target-container .target-info-row:nth-child(odd) div {
    background-color: #dddbd2;
  }

  .target-container .target-info-row:nth-child(even) div {
    background-color: #cfcdc3;
  }

  .target-name {
  }

  .target-info-row {
    display: contents;
  }

  .target-info-row div{
    padding: 0.25em 0;
  }  
}
