&.chat-card {
  font-style: normal;
  font-size: 12px;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;
  
    img {
      flex: 0 0 36px;
      margin-right: 5px;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
      font-size: 20px;
      font-weight: 700;
      color: #4b4a44;
      display: inline-block;
    }

    &.attack {
      border-bottom: none;
    }
  }

  .card-section {
    padding: 3px 0;
    border-bottom: 2px groove #FFF;

    .description {
        flex: 1;
        margin: 0;
        line-height: 36px;
        font-size: 20px;
        font-weight: 700;
        color: #4b4a44;
        text-align: center;
    }

    .description-medium {
        flex: 1;
        margin: 0;
        line-height: 30px;
        font-size: 15px;
        font-weight: 700;
        color: #4b4a44;
        text-align: center;
    }

    .description-small {
        flex: 1;
        margin: 0;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
        color: #4b4a44;
        text-align: center;
    }

    .description-tiny {
        flex: 1;
        margin: 0;
        line-height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: #4b4a44;
        text-align: center;
    }
  }  

  .card-content {
    margin: 5px 0;

    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }
  
    >* {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }
  
  .card-buttons {
    margin: 5px 0;

    span {
      display: block;
      line-height: 28px;
      text-align: center;
      border: 1px solid #CCC;
    }
  
    button {
      font-size: 12px;
      height: 24px;
      line-height: 20px;
      margin: 2px 0;
    }
  }
  
  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #FFF;
  
    span {
      border-right: 2px groove #FFF;
      padding: 0 3px 0 0;
      font-size: 10px;
    }
  
    span:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}
