$combat-tracker-hero-disposition-opacity-default: 0.05;
$combat-tracker-hero-disposition-opacity-hover: 0.6;

.combat-sidebar li.combatant.combat-tracker-hero-disposition-friendly {
    background-color: rgba(67, 223, 223, $combat-tracker-hero-disposition-opacity-default);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-friendly:hover,
.combat-sidebar li.combatant.combat-tracker-hero-disposition-friendly.active {
    background-color: rgba(67, 223, 223, $combat-tracker-hero-disposition-opacity-hover);
}

.combat-sidebar .combatant.combat-tracker-hero-disposition-neutral {
    background-color: rgba(241, 216, 5, $combat-tracker-hero-disposition-opacity-default);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-neutral:hover,
.combat-sidebar li.combatant.combat-tracker-hero-disposition-neutral.active {
    background-color: rgba(241, 216, 5, $combat-tracker-hero-disposition-opacity-hover);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-hostile {
    background-color: rgba(231, 33, 36, $combat-tracker-hero-disposition-opacity-default);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-hostile:hover,
.combat-sidebar li.combatant.combat-tracker-hero-disposition-hostile.active {
    background-color: rgba(231, 33, 36, $combat-tracker-hero-disposition-opacity-hover);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-secret {
    background-color: rgba(166, 18, 212, $combat-tracker-hero-disposition-opacity-default);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-secret:hover,
.combat-sidebar li.combatant.combat-tracker-hero-disposition-secret.active {
    background-color: rgba(166, 18, 212, $combat-tracker-hero-disposition-opacity-hover);
}

// Player
.combat-sidebar li.combatant.combat-tracker-hero-disposition-player {
    background-color: rgba(0, 212, 0, $combat-tracker-hero-disposition-opacity-default);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-player:hover,
.combat-sidebar li.combatant.combat-tracker-hero-disposition-player.active {
    background-color: rgba(0, 212, 0, $combat-tracker-hero-disposition-opacity-hover);
}

.combat-sidebar .segment-content {
    padding: 0;
}

// V13 temporary kluge of v12 directory
.combat-sidebar .combatant:is(.context, .active)::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: transparent;
    border: 1px solid var(--color-border-highlight, var(--color-shadow-primary, #ff6400));
}

.combat-sidebar .combatant {
    border: 1px solid black;
}
