$combat-tracker-hero-disposition-opacity-default: 0.3;
$combat-tracker-hero-disposition-opacity-hover: 0.6;

.combat-sidebar li.combatant.combat-tracker-hero-disposition-friendly {
    background-color: rgba(67, 223, 223, $combat-tracker-hero-disposition-opacity-default);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-friendly:hover {
    background-color: rgba(67, 223, 223, $combat-tracker-hero-disposition-opacity-hover);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-neutral {
    background-color: rgba(241, 216, 5, $combat-tracker-hero-disposition-opacity-default);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-neutral:hover {
    background-color: rgba(241, 216, 5, $combat-tracker-hero-disposition-opacity-hover);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-hostile {
    background-color: rgba(231, 33, 36, $combat-tracker-hero-disposition-opacity-default);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-hostile:hover {
    background-color: rgba(231, 33, 36, $combat-tracker-hero-disposition-opacity-hover);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-secret {
    background-color: rgba(166, 18, 212, $combat-tracker-hero-disposition-opacity-default);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-secret:hover {
    background-color: rgba(166, 18, 212, $combat-tracker-hero-disposition-opacity-hover);
}

// Player
.combat-sidebar li.combatant.combat-tracker-hero-disposition-player {
    background-color: rgba(0, 212, 0, $combat-tracker-hero-disposition-opacity-default);
}

.combat-sidebar li.combatant.combat-tracker-hero-disposition-player:hover,
.combat-sidebar li.combatant.combat-tracker-hero-disposition-player.active {
    background-color: rgba(0, 212, 0, $combat-tracker-hero-disposition-opacity-hover);
}

.combat-sidebar .segment-content {
    padding: 0;
}
