@use "../utils/colors";
@use "../utils/typography";

.item-form {
    font-family: typography.$font-primary;
}

.sheet-mode {
    flex: 0;
}

.sheet-header {
    flex: 0 0 130px;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .profile-img {
        flex: 0 0 100px;
        height: 100px;
        object-fit: contain;
        margin-right: 10px;

        &.borderless {
            border: none;
        }
    }

    .header-fields {
        flex: 1;
    }

    h1.charname {
        height: 50px;
        padding: 0;
        margin: 0;
        border-bottom: 0;

        input {
            width: 94%;
            height: 100%;
            margin: 0;
        }

        a {
            align-self: center;
        }
    }
}

.sheet-tabs {
    flex: 0;
}

.characteristic {
    border: none;
    height: 50px;
}

.characteristic-roll {
    border-radius: 20px;
    margin-left: 4px;
}

.characteristic-group {
    border: 1px solid #999;
}

.tox {
    .tox-editor-container {
        background: colors.$c-white;
    }

    .tox-edit-area {
        padding: 0 8px;
    }
}

.hand-to-hand-attacks {
    ol {
        padding: 0;
    }

    li {
        list-style-type: none;
    }
}
