.hero-generic-roller {
    align-items: center;
    flex: 0;
    border: 1px;
    pointer-events: all;
    display: flex;
    flex-direction: row;
    width: calc(100% - 12px);
    padding: var(--chat-message-spacing);

    button {
        align-items: center;
        justify-content: center;
        margin: 1px;
    }
}
