#item-attack-form-application-v2 {
    .form-group {
        clear: both;
        display: flex;
        flex-flow: row wrap;
        margin: 3px 0;
        align-items: center;

        > label {
            flex: 2;
        }

        > * {
            flex: 3;
        }
    }

    .noflexwrap input[type="text"],
    .noflexwrap input[type="number"] {
        width: auto;
        margin-right: 5px;
        margin-left: -7px;
    }

    .window-content {
        overflow-y: auto;
    }

    div.description {
        border: 1px solid var(--input-border-color);
        background: var(--input-background-color);
        color: var(--input-text-color);
    }
}
