@use "../utils/colors";

div.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.tags .tag {
    background-color: #5e0000;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
    color: #fff;
    padding: 0.1em 0.25em;
}

.tags .tag.tag-transparent {
    background-color: transparent;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 30%);
    color: rgb(75 74 68);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5;
    padding: 0.1em 0.25em;
}

.tags .tag.tag-knockback {
    background-color: transparent;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgb(0 0 255 / 50%);
    color: rgb(75 74 68);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5;
    padding: 0.1em 0.25em;
}

.tag > .strikethrough,
div.hit-roll .strikethrough {
    text-decoration-line: line-through;
    text-decoration-color: rgb(255 0 0 / 80%);
}

.tags .tag.area-effect-tag {
    background-color: #d06fa2;

    /* cursor: pointer; */
}

td {
    text-align: center;
}

.to-hit-card .target-dc-result .miss,
.item-mindscan-target-card .miss {
    color: colors.$c-miss;
}

.to-hit-card .target-dc-result .hit,
.item-mindscan-target-card .hit {
    color: colors.$c-hit;
}

.to-hit-card .target-dc {
    border-bottom: 2px groove #fff;
    margin-bottom: 4px;
}

.radio-container {
    margin-left: 90px;
    font-size: 14px;
    position: absolute;
    top: 120px;
    left: 15px;
    width: 200px;
    pointer-events: none;
}

.radio {
    margin: 0.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    opacity: 0.8;
}

.radio label {
    color: #fff;
    font-weight: 500;

    /* text-shadow: 0 0 10px #494848; */
    text-shadow:
        1px 1px 2px black,
        0 0 1em #494848,
        0 0 0.2em #494848;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"] + .radio-label::before {
    content: "";
    background: #494848;
    border-radius: 100%;
    border: 1px solid #000;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 5px;
    margin-right: 1em;
    vertical-align: center;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    pointer-events: auto;
}

.radio input[type="radio"]:checked + .radio-label::before {
    background-color: #fff;
    box-shadow: inset 0 0 0 4px #494848;
}

.radio input[type="radio"] + .radio-label:empty::before {
    margin-right: 0;
}

div.item-chat {
    color: darkgreen;
    font-weight: 100;
}

div.csl-attack-list ul {
    list-style-type: none;
    padding: 0;
}

div.dice-standard-effect {
    line-height: 24px;
    text-align: center;
    background: rgb(0 0 0 / 10%);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
    margin-bottom: 5px;
}

[data-visibility="gm"] {
    background-color: rgb(240 240 255 / 90%);
    outline: 1px solid rgb(0 0 255 / 40%);
}

[data-visibility="redacted"] {
    background-color: black;
    color: white;
}

.hex-facing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 0;
}

.mind-scan-buttons,
.roll-mindscan-ego {
    line-height: normal;
}

li.directory-item.parent-item {
    background: rgb(0 0 255 / 20%);
}

li.directory-item.child-item {
    padding-left: 15px;
    background: rgb(0 0 255 / 10%);
}

.parent-child {
    border: 1px solid blue;
}

.characteristic-full,
.characteristic-casual {
    max-width: 25px;
}

.characteristic-roll {
    max-width: 40px;
}

.dialog.end-to-end-testing .window-content {
    background: rgb(255 255 255 / 80%);
}

.dialog.end-to-end-testing .window-content li {
    margin-left: 10px;
}

/* V13 buttons don't seem to default to 100% like they do in v12 */
.hero.chat-card button {
    width: 100%;
}

/* V13 generic roller buttons don't seem to default to 100% like they do in v12 */
.message-content button.generic-roller-apply-damage {
    width: 100%;
}

.chat-message .message-header h4.message-sender {
    font-size: 18px;
}

.chat-message .message-header h4.message-sender .user {
    font-size: 14px;
    display: block;
}
