@use "../utils/colors";

div.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.tags .tag {
    background-color: #5e0000;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
    color: #fff;
    padding: 0.1em 0.25em;
}

.tags .tag.tag-transparent {
    background-color: transparent;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 30%);
    color: rgb(75 74 68);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0.1em 0.25em;
}

.tags .tag.tag-knockback {
    background-color: transparent;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgb(0 0 255 / 50%);
    color: rgb(75 74 68);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0.1em 0.25em;
}

.tag > .strikethrough,
div.hit-roll .strikethrough {
    text-decoration-line: line-through;
    text-decoration-color: rgb(255 0 0 / 80%);
}

.tags .tag.area-effect-tag {
    background-color: #d06fa2;

    /* cursor: pointer; */
}

.herosystem6e td,
.hero.chat-card td {
    text-align: center;
}

.to-hit-card .target-dc-result .miss,
.item-mindscan-target-card .miss {
    color: colors.$c-miss;
}

.to-hit-card .target-dc-result .hit,
.item-mindscan-target-card .hit {
    color: colors.$c-hit;
}

.to-hit-card .target-dc {
    border-bottom: 2px groove #fff;
    margin-bottom: 4px;
}

div.item-chat {
    color: darkgreen;
    font-weight: 100;
}

div.csl-attack-list ul {
    list-style-type: none;
    padding: 0;
}

[data-visibility="gm"] {
    background-color: rgb(240 240 255 / 90%);
    outline: 1px solid rgb(0 0 255 / 40%);
}

[data-visibility="redacted"] {
    background-color: black;
    color: white;
}

.hex-facing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 0;
}

.mind-scan-buttons,
.roll-mindscan-ego {
    line-height: normal;
}

.characteristic-full,
.characteristic-casual {
    max-width: 25px;
}

.characteristic-roll {
    max-width: 40px;
}

/* V13 buttons don't seem to default to 100% like they do in v12 */
.hero.chat-card button {
    width: 100%;
    height: auto;
}

/* V13 generic roller buttons don't seem to default to 100% like they do in v12 */
.message-content button.generic-roller-apply-damage {
    width: 100%;
}

.chat-message .message-header h4.message-sender {
    font-size: 18px;
}

.chat-message .message-header h4.message-sender .user {
    font-size: 14px;
    display: block;
}
