.power-card-power-description {
    width: 100%;
    height: auto;
    align-self: center;
    margin: var(--dl-space-space-halfunit) 0 var(--dl-space-space-halfunit) 0;
    resize: none;
}

.power-card-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: left;
    flex-direction: column;
    justify-content: flex-start;
}

.power-card-power-item-list {
    align-self: left;
    list-style-type: none;
}
