.tab-body {
  height: 100%;
  overflow-y: auto;
}

.tab-header {
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 5px;
  background: #cfcdc2;
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
  height: 26px;
  z-index: 1;

  .item-image {
    flex: 0 0 24px;
    margin-right: 5px;
  }
}

.tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;

  .item {
    line-height: 40px;
    font-weight: bold;
  }

  .item.active {
    text-decoration: underline;
    text-shadow: none;
  }
}

li.directory-item.childItem {
  padding-left: 15px;
  background: red;
}