.hero input[type="file"] {
    display: none;
}

label.upload-button:not(.is-owner) > span {
    color: #4b4a44;
}

label.upload-button.is-owner {
    &:hover,
    &:focus {
        outline: var(--color-warm-2);
        background: var(--color-warm-2);
        color: var(--color-light-1);
    }
}

label.upload-button {
    height: 30px;
    margin: 3px 5px;
    background: rgb(0 0 0 / 10%);
    border: 1px solid var(--color-dark-5);
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    font-family: Signika, sans-serif;
    align-content: center;
    text-align: center;
    color: var(--button-text-color);
    cursor: var(--cursor-pointer);
    transition: 0.5s;
    padding: 0 8px;

    &:disabled {
        color: #4b4a44;
        box-shadow: none;
    }

    & > i {
        margin-right: 3px;
    }
}
