.hero input[type="file"] {
  display: none;
}

.upload-button {
  height: 30px;
  margin: 3px 5px;
  background: rgba(255, 255, 240, 0.8);
  border: 1px solid #b5b3a4;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-family: "Signika", sans-serif;
  align-content: center;
  text-align: center;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 5px red;
  }

  &:disabled {
    color: #4b4a44;
    box-shadow: none;
  }

  &>i {
    margin-right: 3px;
  }
}

form .upload-button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
}
