section.hero-roll-panel {
    flex: 0;
    border: 1px;
    padding: 0 5px;

    button {
        display: flex;
        flex-direction: row;
        background: rgb(70 130 180);
        border: 1px solid #000;
        box-shadow: 0 0 6px inset rgb(141 158 167);
        align-items: center;
        justify-content: center;
        color: rgb(255 255 255);
    }
}
