// These all override FoundryVTT basic styling
.dice-roll {
    .dice-total {
        &.success {
            color: inherit;
            background: color-mix(in srgb, var(--hero-success) 20%, transparent);
            border: 1px solid var(--hero-success);
        }

        &.failure {
            color: inherit;
            background: color-mix(in srgb, var(--hero-error) 15%, transparent);
            border: 1px solid var(--hero-error);
        }

        &.critical {
            color: var(--hero-success);
        }

        &.fumble {
            color: var(--hero-error);
        }
    }

    .dice-rolls .roll {
        &.calculated {
            background-image: url("../icons/circle.svg");
        }
    }

    .dice-flavor {
        font-size: 15px;
    }
}
