<section class="list-controls">
    <div class="search">
        <input type="text" placeholder="Search" data-action="search">
        <ul class="unlist controls">
            <button type="button" class="unbutton filter-control always-interactive" data-action="clear" data-tooltip="" aria-label="Clear Filters">
                <i class="fas fa-xmark"></i>
            </button>
        </ul>
    </div>
</section>