<section
  class='tab effects {{tab.cssClass}}'
  data-group='primary'
  data-tab='effects'
>

    <p>
        During normal gameplay these EFFECTS should not need to be modified. 
        They are presented here for reference.
        There may be occasions where the automation is incorrect or insufficient, requiring minor edits.
    </p>

    <table>
        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-effects-partial-item-v2.hbs') 
            effects=this.allTemporaryEffects headerName="ActorSheet.ActiveEffectTemporary" css="temporary-effects" 
            title="ActorSheet.ActiveEffectTemporaryTitle"}}

        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-effects-partial-item-v2.hbs') 
            effects=this.allConstantEffects headerName="ActorSheet.ActiveEffectConstant" css="constant-effects" 
            title="ActorSheet.ActiveEffectConstantTitle"}}

        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-effects-partial-item-v2.hbs') 
            effects=this.allPersistentEffects headerName="ActorSheet.ActiveEffectPersistent" css="persistent-effects" 
            title="ActorSheet.ActiveEffectPersistentTitle"}}

        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-effects-partial-item-v2.hbs') 
            effects=this.allInherentEffects headerName="ActorSheet.ActiveEffectInherent" css="inherent-effects" 
            title="ActorSheet.ActiveEffectInherentTitle"}}

        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-effects-partial-item-v2.hbs') 
            effects=this.allMiscEffects headerName="ActorSheet.ActiveEffectMisc" css="misc-effects" 
            title="ActorSheet.ActiveEffectMiscTitle"}}
    </table>

</section>