<li class="item powers draggable expandable-document" data-item-id="{{this.id}}" data-document-uuid="{{this.uuid}}">
    <div class="item-row draggable {{this.validationCss}}">
        
        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-description-v2.hbs') this }}

        <div class="item-column item-end">
            {{#if (ne this.system.XMLID "LIST")}}
                {{this.system.endEstimate}}
            {{/if}}
        </div>

        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-actions-partial-v2.hbs') this }}

    </div>
</li>