<section
  class='tab powers {{tab.cssClass}}'
  data-group='primary'
  data-tab='powers'
>
    {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-search-partial-v2.hbs') this }}
    <section class="item-list-container">
        <div class="item-header">
            <div class="item-column item-cost">{{localize "ActorSheet.Cost"}}</div>
            <div class="item-column item-description">{{localize "ActorSheet.Description"}}</div>
            <div class="item-column item-end">{{localize "ActorSheet.End"}}</div>
            <div class="item-column item-controls"></div>
        </div>

        <ol class="item-list unlist">
            {{#each items as |item|}}
                {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-powers-partial-item-v2.hbs') item }}
            {{/each}}
        </ol>
    </section>
</section>