{{! Active Points }}
<li class="flexrow summary-break">
    <h4>Active Points: {{item.activePointCostForDisplay}}</h4>
    <h4 class="center">END: {{item.end}}</h4>
    <h4 class="right">Real Cost: {{item.realPointCostForDisplay}}</h4>
</li>