{{!-- Active Points --}}
<li class="flexrow summary-break">
    <h4>Active Points: {{item.system.activePoints}}</h4>
    <h4 class="center">END: {{item.system.end}}</h4>
    <h4 class="right">Real Cost: {{item.system.realCost}}</h4>
</li>